/* * { */
/*     border: solid 2px rgba(0, 200, 0, 0.4); */
/*     background-color: rgba(0, 200, 0, 0.2); */
/* } */

#tab-checklist {
    width: 85%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    background-color: white;
    border-radius: 6px;
    padding-bottom: 25px;
    margin-top: 29px;
}

.container-title {
    font-size: calc(22px + 0.3vmax);
}

.topic {
    margin-bottom: 5px;
}

/*
  sub topic headings
*/

.topic-head>* {
    margin: 0px;
    padding: 0px;
}

.topic-head {
    height: 39px;
    width: 80%;
    padding-left: 5px;
    display: flex;
    align-items: center;
    transition-property: box-shadow width height;
    transition-duration: 0.4s;
}

.topic-head:hover {
    box-shadow: 0 1px 2px #05abe0;
    width: 81%;
    height: 42px;
}

.topic-head input {
    margin-right: 6px;
}

.topic-title {
    font-size: calc(13px + 0.3vmax);
    height: 39px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus-minus-btn {
    position: relative;
    margin-bottom: 25px;
}

/*
  plus button that changes
*/
.plus-minus-btn input {
    width: 0px;
    height: 0px;
}

.plus-minus-checkbox {
    margin: 0px;
    padding: 0px;
}

.vertical {
    position: absolute;
    top: 1px;
    right: 9px;
    height: 21px;
    width: 5px;
    background-color: rgba(40, 40, 40, 0.5);
    transition: 0.34s transform cubic-bezier(0, 0, 0.04, 1.45), 0.34s 0.19s opacity;
}

.horizontal {
    position: absolute;
    top: 9px;
    right: 1px;
    height: 5px;
    width: 21px;
    background-color: rgba(40, 40, 40, 0.5);
}

.plus-minus-checkbox:checked+.vertical {
    transform: rotate(270deg);
    opacity: 0.0;
    /* height: 5px; */
    /* width: 21px; */
    /* top: 9px; */
    /* right: 1px; */
}

.sub-topics {
    display: flex;
    flex-direction: column;
}

.topic-desc {
    font-size: 18px;
    text-align: left;
    width: 65%;
    margin: 5px;
    padding-bottom: 10px;
}

.topic-hide {
    font-size: 0px;
    height: 0px;
    display: none;
}
