@font-face {
    font-family: 'DosisExtraLight';
    src: url('../static/Dosis/Dosis-ExtraLight.ttf') format('truetype');
}


body {
    background-color: #f4f8fb;
    margin: 0px;
}

header {
    background: linear-gradient(135deg, #351ded 0, #5e46c9 64%, #05abe0 100%);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 468px;
}

#head-name {
    font-family: 'DosisExtraLight';
    font-size: 68px;
    font-style: regular;
    color: white;
}

#head-img {
    width: 135px;
    margin-left: 10px;
    border-radius: 45px;
}

.setting {
    width: 30%;
    margin: 8px;
    border-radius: 9px;
    min-height: 20%;
}

.settings-head {
    padding-top: 3%;
    margin-bottom: 5%;
}
